---
import Navbar from "./navbar.astro"
import ContentsDynamic from "./contents-dynamic.astro"
import Footer from "./footer.astro"
---

<Navbar />
<main class="container-fluid px-2 px-md-3 py-3">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-10">
      <ContentsDynamic />
    </div>
  </div>
</main>
<Footer />

<style>
  @media (max-width: 576px) {
    h1 {
      font-size: 1.8rem !important;
    }
    main {
      padding-top: 1rem !important;
    }
  }
  
  @media (max-width: 768px) {
    .container-fluid {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
    }
  }
</style>
