---
import {SignIn as ClerkSignIn } from "@clerk/astro/components";
---

<div
  class="container-fluid d-flex flex-column align-items-center justify-content-center vh-100"
  style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('/background.png'); background-size: cover; background-position: center;"
>
  <div>
    <ClerkSignIn />
  </div>
</div>

